/* Logout Button Styles */
@import '../style_variables/variables';
@import '../mixins/mixins';

.logoutButton {
  position: fixed;
  top: 20px;
  right: 20px;
  @include button-style($primary-color, $white);
  z-index: 1000; /* Ensures it stays on top */
}

.logoutButton:hover {
  background-color: lighten($primary-color, 10%);
}
.logoutButton:active {
  background-color: lighten($primary-color, 20%);
}